{# Check errors when form is full #}
	{% if errorForm is defined %}
		{% if errorForm == "errorMail" %}
			<script type="text/javascript"> alert('E-mail already use. Please choose an other one'); 
				javascript:history.back();
			</script>
		{% endif %}
	{% endif %}	

<form id="changeEmailForm" action="{{ path('_changeemail') }}" method="post">

{# Page for change email #}
	<div class="row-fluid">
	<p>
		<div class="control-group span8">
		New e-mail
			<div class="controls">
				{{ form_errors(changeEmailForm.email) }}
				{{ form_widget(changeEmailForm.email, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }} 
			</div><!-- controls -->
		</div><!-- control group -->
		
	</p>
	</div><!-- row fluid -->
	
	<p>
	&nbsp &nbsp
	<input class="btn btn-primary" type="submit" value="{{ 'Change'|trans }}" />
	<a class="noconfirm btn btn-danger" href="{{ path('_acsiladmins', {'folderId': folderId|default(0)}) }}">{{ 'Cancel'|trans }}</a>
	</p>
</form>