<form id="changePwdForm" action="{{ path('_changepwd') }}" method="post">

{# Page for change password #}
	<div class="row-fluid">
	<p>
		<div class="control-group span8">
		New password
			<div class="controls">
				{{ form_errors(changePwdForm.pwd) }}
				{{ form_widget(changePwdForm.pwd, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }} 
			</div><!-- controls -->
		</div><!-- control group -->
		
	</p>
	</div><!-- row fluid -->
	
	<p>
	&nbsp &nbsp
	<input class="btn btn-primary" type="submit" value="{{ 'Change'|trans }}" />
	<a class="noconfirm btn btn-danger" href="{{ path('_acsiladmins', {'folderId': folderId|default(0)}) }}">{{ 'Cancel'|trans }}</a>
	</p>
</form>