{# Check errors when form is full #}
	{% if errorForm is defined %}
		{% if errorForm == "errorSizePwd" %}
			<script type="text/javascript"> alert('Password must have at least 6 characters');
				javascript:history.back(); {# To have css/js #}
			</script>
		{% endif %}
		{% if errorForm == "errorPwd" %}
			<script type="text/javascript"> alert('Password and Confirm Password are different'); 
				javascript:history.back();
			</script>
		{% endif %}
		{% if errorForm == "errorUser" %}
			<script type="text/javascript"> alert('Cannot find the account. Please contact the administrator');
				javascript:history.back();
			</script>
		{% endif %}
	{% endif %}


<form id="changeQuestionForm" action="{{ path("_changequestion") }}" method="post">

{# Page for change password #}
	<div class="row-fluid">
	<p>
		<div class="control-group span8">
		New Question
			<div class="controls">
				{{ form_errors(changeQuestionForm.question) }}
				{{ form_widget(changeQuestionForm.question, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }} 
			</div><!-- controls -->
		New Answer
			<div class="controls">
				{{ form_errors(changeQuestionForm.answer) }}
				{{ form_widget(changeQuestionForm.answer, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }} 
			</div><!-- controls -->	
		</div><!-- control group -->
		
	</p>
	</div><!-- row fluid -->
	
	<p>
	&nbsp &nbsp
	<input class="btn btn-primary" type="submit" value="{{ 'Change'|trans }}" />
	<a class="noconfirm btn btn-danger" href="{{ path('_acsiladmins', {'folderId': folderId|default(0)}) }}">{{ 'Cancel'|trans }}</a>
	</p>
</form>

{% if app.request.get('_route') == '_changequestion' %}
{# BEGIN JAVASCRIPTS #}
	{% block javascripts %}
	<script src="{{asset('public/js/jquery-1.8.3.min.js')}}"></script>
	<script src="{{asset('public/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('public/js/jquery.blockui.js')}}"></script>
	<script type="text/javascript" src="{{asset('public/js/chosen.jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('public/js/jquery.uniform.min.js')}}"></script>
	{# BEGIN PAGE LEVEL PLUGINS #}
	<script src="{{asset('public/js/dropzone.js')}}"></script>
	<script src="{{asset('public/js/scripts.js')}}"></script>
	{# END PAGE LEVEL PLUGINS #}
	<script>
    jQuery(document).ready(function() {     
       App.init();
	  App.initLogin();
    });
	</script>  
 {% endblock %}
  {# END JAVASCRIPTS #}
 {% endif %}