{% extends '::base.html.twig' %}
{# Page for authentification #}

{% block stylesheets %}
{{ parent() }}
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

 {% stylesheets filter='cssrewrite' '@AcsilServerAppBundle/Resources/public/css/*' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"> {#font-awesome doesn't work on IE and FF so we have to use this one#}
  <link href="{{ asset('public/css/style.css') }}" rel="stylesheet" />
  <link href="{{ asset('public/css/style_responsive.css') }}" rel="stylesheet" />
  <link href="{{ asset('public/css/style_default.css') }}" rel="stylesheet"  id="style_color" />
  {% endstylesheets %} 
{% endblock %}

{% block body %}

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	{#Check if authentification errors#}
	{% if error %}
		{% if error.message == "Bad credentials"%}
			<script type="text/javascript"> alert('Wrong Password'); </script>
		{% else %}
			<script type="text/javascript"> alert('Wrong E-mail'); </script>
		{% endif %}
	{% endif %}

   	<div id="forgotPwd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<p>	
			<h2>&nbsp{{ 'Forgot password'|trans }}</h2>	
			{% include 'AcsilServerAppBundle:Security:forgotPwd.html.twig' %}
			</p>
	</div><!-- forgotPwd -->	

	<div id="changePwd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<p>	
			<h2>&nbsp{{ 'Change password'|trans }}</h2>	
		{% include 'AcsilServerAppBundle:Security:changePwd.html.twig' %}
			</p>
		</div><!-- changePwd -->

	{% if forgotPwdMsg and forgotPwdMsg == "ok" and id %}
		<h5> Click on one of the links below to change your password or go back to the log in page</h5>
		  {# Change password #}
		  <div class="userOptions">
			<a style="float:left", class="changePwd" id= "changePwd" href="#changePwd" accountid="{{ id }}"  onclick="changePwd;" data-toggle="modal">{{ 'Change password'|trans }}</a>
		</div>
			<div class="span2">
			<a href="{{ path('_login') }}">{{ 'Log in'|trans }}</a>
			</div>
	{% else %}	
		<div id="login">
			<form id="loginform" class="form-vertical no-padding no-margin" action="{{ path('_login_check') }}" method="post">
				<div class="lock">
					<i class="icon-lock"></i>
				</div>
				<div class="control-wrap">
					<h4>Log To Your AcsilServer</h4>
					<div class="control-group">
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="username"  placeholder="Email" name="_username" value="{{ last_username }}" />
							</div>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-key"></i></span><input type="password" id="input-password" placeholder="Password" name="_password" />
							</div>

							<div class="clearfix space5"></div>
						</div>

					</div>
					{#Forgot password #}
					<a style="float:right", href="#forgotPwd" data-toggle="modal">{{ 'Forgot password?'|trans }}</a>

				</div>
				<button type="submit" id="login-btn" class="btn btn-block login-btn">Log in</button>
			</form>
		</div>
	{% endif %}
 
{% endblock %}
