{# Page for user's registration #}
{% if app.request.get('_route') == '_login' %}
	<h2>{{ 'Welcome admin'|trans }}</h2>
{% else %}
	<h2>{{ 'Create an account'|trans }}</h2>
{% endif %}

<form action="{{ path('_register') }}" method="post" {{ form_enctype(newUserForm) }}>
    {# {{ form_widget(newUserForm) }} #}

	{{ form_errors(newUserForm) }}

		<div class="row-fluid">
			<div class="control-group span6">
			    {#{{ form_label(newUserForm.firstname, newUserForm.firstname.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Firstname
			    <div class="controls">
				    {{ form_errors(newUserForm.firstname) }}
				    {{ form_widget(newUserForm.firstname, {'attr': {'class': 'span12', 'placeholder': 'Firstname'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
			<div class="control-group span6">
			    {#{{ form_label(newUserForm.lastname, newUserForm.lastname.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Lastname
			    <div class="controls">
				    {{ form_errors(newUserForm.lastname) }}
				    {{ form_widget(newUserForm.lastname, {'attr': {'class': 'span12', 'placeholder': 'Lastname'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
		</div><!-- row fluid -->
	
		<div class="row-fluid">
			<div class="control-group span12">
			    {#{{ form_label(newUserForm.email, newUserForm.email.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Email
			    <div class="controls">
				    {{ form_errors(newUserForm.email) }}
				    {{ form_widget(newUserForm.email, {'attr': {'class': 'span12', 'placeholder': 'Email'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
		</div><!-- row fluid -->
	
		<div class="row-fluid">
			<div class="control-group span6">
			    {#{{ form_label(newUserForm.password, newUserForm.password.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Password
			    <div class="controls">
				    {{ form_errors(newUserForm.password) }}
				    {{ form_widget(newUserForm.password, {'attr': {'class': 'span12', 'placeholder': 'Password'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
			<div class="control-group span6">
			    {#{{ form_label(newUserForm.confirm_password, newUserForm.confirm_password.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Confirm password
			    <div class="controls">
				    {{ form_errors(newUserForm.confirm_password) }}
				    {{ form_widget(newUserForm.confirm_password, {'attr': {'class': 'span12', 'placeholder': 'Confirm password'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
		</div><!-- row fluid -->
	
		<div class="row-fluid">
			{% if app.request.get('_route') != '_login' %}
				<div class="control-group span6">
				    {#{{ form_label(newUserForm.usertype, newUserForm.usertype.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
				    User type
				    <div class="controls">
					    {{ form_errors(newUserForm.usertype) }}
					    {{ form_widget(newUserForm.usertype, {'attr': {'class': 'span12'}}) }}
					</div><!-- controls -->
				</div><!-- control group -->
			{% endif %}
			<div class="control-group span6">
			    {#{{ form_label(newUserForm.pictureAccount, newUserForm.pictureAccount.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
			    Profile picture
			    <div class="controls">
				    {{ form_errors(newUserForm.pictureAccount) }}
				    {{ form_widget(newUserForm.pictureAccount, {'attr': {'class': 'span12'}}) }}
				</div><!-- controls -->
			</div><!-- control group -->
		</div><!-- row fluid -->
	
	{{ form_rest(newUserForm) }}
	
     <input class="btn btn-primary" type="submit" value="{{ 'Submit'|trans }}" />
	 <a class="btn btn-danger" href="{{ path('_acsiladmins') }}"> {{ 'Cancel'|trans }}</a>
</form>	
