{% block ent %}
	<div id="ent">
		<div id="logo" class="span4">
			<h1>AcsilServer</h1>
		</div><!-- logo -->
		
		<div class="span8">
			<div class="row-fluid">
				<div id="user">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                                                    
						{{ app.user.firstname }} {{ app.user.lastname }} ({{ app.user.email }}) <a href="{{ path('_logout') }}">{{ 'Logout'|trans }}</a>
					{% else %}
						
					{% endif %}
				</div>
			</div><!-- row fluid -->
		</div><!-- span8 -->
	</div><!-- ent -->
{% endblock %}
