{% block menu %}
	<div class="span4 offset8">
		<ul class="nav nav-pills">
			<li><a href="{{ path('_acsil') }}">{{ 'home'|trans }}</a></li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<img src="{{ asset(app.user.pictureAccount) }}" /> 
				{% if app.user.roles.0 == 'ROLE_SUPER_ADMIN' %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'admins.control'|trans }}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('_acsiladmins') }}">{{ 'list.admins'|trans }}</a></li>
							<li><a href="{{ path('_register') }}">{{ 'create.user'|trans }}</a></li>
						</ul>
					</li>
				{% endif %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'file management'|trans }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
				        <li><a href="{{ path('_upload') }}">{{ 'upload file'|trans }}</a></li>
						<li><a href="{{ path('_managefile') }}">{{ 'my files'|trans }}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'my profile'|trans }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
				        <li><a href="{{ path('_upload_picture') }}">{{ 'change account picture '|trans }}</a></li>
					</ul>
				</li>
				<li><a href="{{ path('_logout') }}">{{ 'logout'|trans }}</a></li>
			{% endif %}
		</ul>
	</div><!-- span4 -->
{% endblock %}