<div class="row-fluid">
	<div id="menu">
		{% block menu %}
			<ul class="nav nav-pills">
				<li><a href="{{ path('_acsil') }}">{{ 'home'|trans }}</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if app.user.roles.0 == 'ROLE_SUPER_ADMIN' %}
						<li class="dropdown"><a href="{{ path('_acsiladmins') }}">{{ 'admins.control'|trans }}</a></li>
					{% endif %}
					    <li class="dropdown">
							<a href="{{ path('_managefile') }}">{{ 'file management'|trans }}</b></a>
							{#
							<ul class="dropdown-menu">
					            <li><a href="{{ path('_upload') }}">{{ 'upload file'|trans }}</a></li>
								<li><a href="{{ path('_managefile') }}">{{ 'my files'|trans }}</a></li>
							</ul>
							#}
						</li>
				{% endif %}
			</ul>
		{% endblock %}
	</div><!-- menu -->
</div><!-- row fluid -->
