<div class="row-fluid">
	<div id="menu">
		{% block menu %}
			<ul class="nav nav-pills">
				<li><a href="{{ path('_acsil') }}">{{ 'home'|trans }}</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if app.user.roles.0 == 'ROLE_SUPER_ADMIN' %}
						<li class="dropdown"><a href="{{ path('_acsiladmins') }}">{{ 'admins.control'|trans }}</a></li>
					{% endif %}
				    <li class="dropdown"><a href="{{ path('_managefile') }}">{{ 'file management'|trans }}</b></a></li>
				{% endif %}
			</ul>
		{% endblock %}
	</div><!-- menu -->
</div><!-- row fluid -->
