<form action="{{ path('_folder', {'folderId': folderId|default(0)}) }}" method="post" {{ form_enctype(folderform) }}>
    {# {{ form_widget(folderform) }} #}
{# Page for files' sharing #}
	
	<div class="row-fluid">
		<div class="control-group span6">
		    {#{{ form_label(folderform.name, folderform.name.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
		    Folder name
		    <div class="controls">
			    {{ form_errors(folderform.name) }}
			    {{ form_widget(folderform.name, {'attr': {'class': 'span12 typeaheadUserMail', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }}
			</div><!-- controls -->
		</div><!-- control group -->
	</div><!-- row fluid -->
	
    <input class="btn" type="submit" value="{{ 'create'|trans }}" />
</form>
