<form id="renameFileForm" action=" method="post" {{ form_enctype(renameForm) }}>
    {# {{ form_widget(rename) }} #}
{# Page for files' rename #}
	
	<div class="row-fluid">
	
		<div class="control-group span8">
		    {#{{ form_label(renameForm.name, renameForm.name.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
		    Name
		    <div class="controls">
			    {{ form_errors(renameForm.name) }}
			    {{ form_widget(renameForm.name, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }}
			</div><!-- controls -->
		</div><!-- control group -->
		
	
	</div><!-- row fluid -->

    <input class="btn" type="submit" value="{{ 'rename'|trans }}" />
</form>