{% block ent %}
	<div id="ent">
		<div id="header-background" class="span12">
			<img id="logo" src="{{ asset('public/img/logo.png') }}" alt="logo"/>
		</div><!-- logo -->
		
		<div class="col-sm-12">
			<div class="row-fluid">
				<div id="user">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
					<img id="pictureAccount" src="{{ asset( app.user.pictureAccount ) }}" /> 				
					{{ app.user.firstname }} {{ app.user.lastname }} ({{ app.user.email }}) <a href="{{ path('_logout') }}">{{ 'Logout'|trans }}</a>
					{% else %}
						
					{% endif %}
				</div>
			</div><!-- row fluid -->
		</div><!-- span8 -->
	</div><!-- ent --> 
{% endblock %}
