{% block ent %}
	<div id="ent">
		<div id="logo" class="span12">
		<img src="{{ asset('public/img/logo2.jpg') }}" alt="logo"/> 
		</div><!-- logo -->
		
		<div class="span8 offset3">
			<div class="row-fluid">
				<div id="user">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
					<img id="pictureAccount" src="{{ asset( app.user.pictureAccount ) }}" /> 				
					{{ app.user.firstname }} {{ app.user.lastname }} ({{ app.user.email }}) <a href="{{ path('_logout') }}">{{ 'Logout'|trans }}</a>
					{% else %}
						
					{% endif %}
				</div>
			</div><!-- row fluid -->
		</div><!-- span8 -->
	</div><!-- ent --> 
{% endblock %}
