{# Page for users' management #}

{% extends '::base.html.twig' %}

{% block body %}
	<div id="userList" class="row-fluid">
		<h2>{{ 'Manage users'|trans }}</h2>
		
		<div id="newUser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			{% include 'AcsilServerAppBundle:Security:register.html.twig' %}
		</div><!-- newUser -->
		
		<div id="resetPassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- resetPassword -->
		
		<div id="deleteAccount" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Delete account'|trans }}</h2>
			<p>
				{{ 'account.confirm.delete'|trans }} <span class="filename"></span>
				<a class="confirm btn btn-danger" href="">{{ 'Yes'|trans }}</a>
				<a class="noconfirm btn btn-primary" href="{{ path('_acsiladmins') }}">{{ 'No'|trans }}</a>
			</p>
		</div><!-- deleteAccount -->
		
		<div id="changeRole" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- changeRole -->
		
		<div class="row-fluid">
			<div class="span2">
				<ul>
					<li><a href="#newUser" data-toggle="modal"><i class="icon-plus"></i> {{ 'Create new user' }} </a></li>
					{#<li><a href="#newGuest" data-toggle="modal"><i class="icon-plus"></i> {{ 'new.guest' }} </a></li>#}
				</ul>
				<p>
					{#{{ 'adminzone.description'|trans }}#}
					Create and manage as many user as you want.<br />
					<ul>
						<li><span style="color: #FBB450;">These are Admins</span></li>
						<li><span style="color: #3A87AD;">These are Users</span></li>
					</ul>
				</p>
			</div><!-- span3 -->
			
			<div id="itemList" class="span9 offset1">
				{% for key, admin in listadmins %}
					<div class="userRow row-fluid {{ admin.roles.0 == "ROLE_SUPER_ADMIN" ? "admin" : "user" }}">
					
						<div class="userInfos span10">
							<img src="" alt="" height="60" width="100" /> {{ admin.firstname }} {{ admin.lastname }}
							<!-- hidden values -->
							<span class="userId">{{ admin.id }}</span>
							<span class="userPicture">{{ admin.pictureAccount }}</span>
							<span class="email">{{ admin.email }}</span>
							<span class="role">{{ admin.roles.0 }}</span>
						</div><!-- userInfos -->
						
						<div class="userOptions span2">
							{% if app.user.id != admin.id %}
								<div class="btn-group">
									<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i></a>
									<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										{# <li><a href="#"><i class="icon-eye-open"></i> {{ 'view'|trans }} </a></li> #}
										{#<li><a class="resetpassword" href="#resetPassword" accountid="{{ admin.id }}" data-toggle="modal">
											<i class="icon-refresh"></i> {{ 'reset.password'|trans }}</a>
										</li>#}
										<li><a class="deleteaccount" href="#deleteAccount" accountid="{{ admin.id }}" data-toggle="modal">
											<i class="icon-trash"></i> {{ 'Delete account'|trans }} </a>
										</li>
										{% if app.user.roles.0 == 'ROLE_SUPER_ADMIN' %}
											<li class="divider"></li>
											{% if admin.roles.0 == "ROLE_SUPER_ADMIN" %}
												<li><a href="{{ path('_changerole', {'id': admin.id, 'role': 'user'}) }}" data-toggle="modal">
													<i class="icon-thumbs-down"></i> {{ 'Set as user'|trans }} </a>
												</li>
											{% else %}
												<li><a href="{{ path('_changerole', {'id': admin.id, 'role': 'admin'}) }}" data-toggle="modal">
													<i class="icon-thumbs-up"></i> {{ 'Set as admin'|trans }} </a>
												</li>
											{% endif %}
										{% endif %}
									</ul>
								</div><!-- btn group -->
							{% endif %}
						</div><!-- userOptions -->
					
					</div><!-- userRow -->
				{% endfor %}
				
			</div><!-- itemList -->
		</div><!-- row fluid -->
	</div><!-- userList -->
{% endblock %}
