{# Main page #}

{% extends '::base.html.twig' %}

{# fixme: put common stylesheets on a global file#}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite' '@AcsilServerAppBundle/Resources/public/css/*' %}
		<link href="{{ asset('public/css/bootstrap-fileupload.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/dropzone.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style_responsive.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style_default.css') }}" rel="stylesheet"  id="style_color" />
		<link href="{{ asset('public/css/jquery.fancybox.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/> 
	{% endstylesheets %} 
{% endblock %}

{% block body %}
	<h2>{{ 'Welcome on Acsilserver'|trans }} {{ user.firstname }}</h2>
	Click on a link above to start managing your server.
{% endblock %}
