{% extends '::base.html.twig' %}

{% block body %}
	<div id="userList" class="row-fluid">
		<h2>{{ 'users'|trans }}</h2>
		
		<div id="userSettings" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'usersettings'|trans }}</h2>
			
			<div class="row-fluid">
				<div class="span4">
					{{ 'userpicture'|trans }}
				</div><!-- span4 -->
				
				<form action="{{ path('_acsiladmins') }}" method="post" {{ form_enctype(editForm) }}>
					<div class="span8">
						<div class="profileInfo">
							<span class="profileLabel">{{ 'firstname'|trans }}</span><!-- label -->
							<span class="data"></span><!-- hard -->
							<span class="edit">
								
							</span><!-- edit -->
						</div><!-- profileInfo -->
						<div class="profileInfo">
							<span class="profileLabel">{{ 'lastname'|trans }}</span><!-- label -->
							<span class="data"></span><!-- hard -->
							<span class="edit">
								
							</span><!-- edit -->
						</div><!-- profileInfo -->
						<div class="profileInfo">
							<span class="profileLabel">{{ 'email'|trans }}</span><!-- label -->
							<span class="data"></span><!-- hard -->
							<span class="edit">
								
							</span><!-- edit -->
						</div><!-- profileInfo -->
						<div class="profileInfo">
							<span class="profileLabel">{{ 'password'|trans }}</span><!-- label -->
							<span class="data"></span><!-- hard -->
							<span class="edit">
								
							</span><!-- edit -->
						</div><!-- profileInfo -->
						<div class="profileInfo">
							<span class="profileLabel">{{ 'userrole'|trans }}</span><!-- label -->
							<span class="data"></span><!-- hard -->
							<span class="edit">
								
							</span><!-- edit -->
						</div><!-- profileInfo -->
					</div><!-- span8 -->
				</form>
			</div><!-- row-fluid -->
			
		</div><!-- userSettings -->
		
		<div class="row-fluid">
			{% for admin in listadmins %}
				{% if admin.roles.0 == "ROLE_SUPER_ADMIN" %}
					<div class="adminusertile span3">
						<div class="row-fluid">
							<div class="span5">
								<img src="" alt="" />
							</div><!-- span5 -->
							<div class="span7">
								<ul>
									<li>{{ admin.firstname }}</li>
									<li>{{ admin.lastname }}</li>
								</ul>
								<a href="#userSettings" role="button" class="btn btn-primary" data-toggle="modal">{{ 'edit'|trans }}</a>
							</div><!-- span7 -->
						</div><!-- row fluid -->
					</div><!-- usertile -->
				{% endif %}
			{% endfor %}
			{% for admin in listadmins %}
				{% if admin.roles.0 == "ROLE_ADMIN" %}
					<div class="usertile span3">
						<div class="row-fluid">
							<div class="span5">
								<img src="" alt="" />
							</div><!-- span5 -->
							<div class="span7">
								<ul>
									<li>{{ admin.firstname }}</li>
									<li>{{ admin.lastname }}</li>
								</ul>
								<a href="#userSettings" role="button" class="btn btn-primary" data-toggle="modal">{{ 'edit'|trans }}</a>
							</div><!-- span7 -->
						</div><!-- row fluid -->
					</div><!-- usertile -->
				{% endif %}
			{% endfor %}
		</div><!-- row fluid -->
	</div><!-- userList -->
{% endblock %}
