{# Page for files' management #}
{% extends '::base.html.twig' %}

{% block body %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
	<div id="fileList" class="row-fluid">
		<h2>{{ 'Manage files'|trans }}</h2>
		
		<div id="addFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Upload new document'|trans }}</h2>
			{% include 'AcsilServerAppBundle:Upload:upload.html.twig' %}
		</div><!-- addFile -->

		<div id="addFolder" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Create new folder'|trans }}</h2>
			{% include 'AcsilServerAppBundle:Upload:folder.html.twig' %}
		</div><!-- addFolder -->
		
		<div id="shareFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Share this document'|trans }}</h2>
			<div class="usersList">
				{% set totalUser = listusers|length - 1 %}
				[
					{% for key, user in listusers %}
					   {% if user.getEmail != app.user.email %}
							"{{ user.email }}"
							{% if key != totalUser %},{% endif %}
						{% endif %}
					{% endfor %}
				]
			</div><!-- userlist -->
			
			<h3>These users already have rights</h3>
			<div id="sharedWith"></div><!-- sharedWith -->
			
			<h3>Give rights to user</h3>
			{% include 'AcsilServerAppBundle:Upload:ShareFile.html.twig' %}
		</div><!-- shareFile -->
		
				<div id="renameFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Rename this document'|trans }}</h2>
						
			<h3>Rename a file</h3>
			{% include 'AcsilServerAppBundle:Upload:RenameFile.html.twig' %}
		</div><!-- shareFile -->
		
		<div id="deleteFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'Delete file'|trans }}</h2>
			<p>
				{{ 'Are you sure you want to delete this file?'|trans }} <span class="filename"></span>
				<a class="confirm btn btn-danger" href="">{{ 'yes'|trans }}</a>
				<a class="noconfirm btn btn-primary" href="{{ path('_managefile', {'folderId': folderId|default(0)}) }}">{{ 'no'|trans }}</a>
			</p>
		</div><!-- deleteFile -->
		
		<div class="row-fluid">
			<div class="span2">
				<ul>
					<li><a href="#addFile" data-toggle="modal"><i class="icon-plus"></i> {{ 'Add file'|trans }} </a></li>
				</ul>
				<p>
					{#{{ 'filezone.description'|trans }}#}
					You can add and manage as many files as you want as long as you have the correct rights to. You can also share files with users within your network.
				</p>
				</div><!-- span3 -->
			<div class="span2">
				<ul>
					<li><a href="#addFolder" data-toggle="modal"><i class="icon-plus"></i> {{ 'Create folder'|trans }} </a></li>
				</ul>
				</div><!-- span3 -->

			<div class="span2">
				<ul>
						<li class="dropdown"><a href="{{ path('_managefile', {'folderId': parentId|default(0)}) }}">{{ 'Back'|trans }}</b></a></li>
				</ul>
				</div><!-- span3 -->
				
			<div id="itemList" class="span9 offset1">
				
				
				{% for folder in listfolders %}
					<div class="userRow row-fluid">
						<div class="fileInfos span9">
							<div class="fileName span8">
								<a href="{{ path('_managefile', {'folderId': folder.id|default(0)}) }}">{{ folder.name|trans }}</b></a>
							</div><!-- fileName -->
							<div class="fileSize span2">
								{{ folder.size}} file(s)
							</div>
							<div class="fileUploadDate span2">
								{{ folder.uploaddate|date }}
							</div><!-- file upload date -->
						</div><!-- fileInfos -->
						
						<div class="fileOptions span3">
							<div class="btn-group">
								<a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> {{ 'Edit'|trans }}</a>
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% if is_granted('VIEW', folder) %}
										<li><a href="{{ path('_download_folder', {'id': folder.id}) }}" target="_blank">
											<i class="icon-download-alt"></i> {{ 'Download'|trans }} </a>
										</li>
									{% endif %}
								</ul>
							</div><!-- btn group -->
						</div><!-- file options -->
					</div><!-- userRow -->
				{% endfor %}
				
				
				{% for document in listfiles %}
					<div class="userRow row-fluid">
						<div class="fileInfos span9">
							<div class="fileName span8">
										<a href="{{app.request.basepath}}/{{ document.info.getWebPath() }}" target="_blank">
											{{ document.info.name|trans }} </a>
							</div><!-- fileName -->
							<div class="fileSize span2">
								{{ document.info.size }} Ko
							</div>
							<div class="fileUploadDate span2">
								{{ document.info.uploaddate|date }}
							</div><!-- file upload date -->
						</div><!-- fileInfos -->
						
						<div class="fileOptions span3">
							{% if is_granted('OWNER', document.info) %}
							<a class="sharefile btn btn-primary" href="#shareFile" filename="{{ document.info.name }}" fileid="{{ document.info.id }}" data-toggle="modal">
								<i class="icon-file icon-white"></i> {{ 'Share'|trans }}
							</a>
							<div class="sharedWith">
								{% set totalUsers = document.sharedFileUserInfos|length %}
								{% if totalUsers > 0 %}
									[{% for key, sharedwith in document.sharedFileUserInfos %}
										{"id": "{{ sharedwith.user.id }}","email": "{{ sharedwith.user.email }}","rights": "{{ sharedwith.rights }}"} {% if totalUsers > key + 1 %},{% endif %}
									{% endfor %}]
								{% endif %}
							</div><!-- sharedWith -->
							{% endif %}
							<div class="btn-group">
								<a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> {{ 'Edit'|trans }}</a>
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% if is_granted('VIEW', document.info) %}
										<li><a href="{{ path('_download', {'id': document.info.id}) }}" target="_blank">
									
								{#		<li><a href="{{app.request.basepath}}/{{ document.info.getWebPath() }}" target="_blank"> #}
											<i class="icon-download-alt"></i> {{ 'Download'|trans }} </a>
										</li>
									{% endif %}
									{% if is_granted('EDIT', document.info) %}
										<li>
											<a class="renamefile" href="#renameFile" filename="{{ document.info.name }}" fileid="{{ document.info.id }}" data-toggle="modal">
												<i class="icon-download"></i> {{ 'Rename'|trans }} 
											</a>
										</li>
									{% endif %}
									{% if is_granted('DELETE', document.info) %}
										<li>
											<a class="deletefile" href="#deleteFile" filename="{{ document.info.name }}" fileid="{{ document.info.id }}" data-toggle="modal">
												<i class="icon-trash"></i> {{ 'Delete'|trans }} 
											</a>
										</li>
									{% endif %}
								</ul>
							</div><!-- btn group -->
						</div><!-- file options -->
					</div><!-- userRow -->
				{% endfor %}
			</div><!-- itemList -->
			
		</div><!-- row fluid -->
		
	</div><!-- fileList -->

{% endblock %}
