{% extends '::base.html.twig' %}

{% block body %}
	
	<div id="fileList" class="row-fluid">
		<h2>{{ 'my.files'|trans }}</h2>
		
		<div id="addFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'document.info.add'|trans }}</h2>
			{% include 'AcsilServerAppBundle:Upload:upload.html.twig' %}
		</div><!-- addFile -->
		
		<div id="shareFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'document.info.share'|trans }}</h2>
			<div class="usersList">
				{% set totalUser = listusers|length - 1 %}
				[
					{% for key, user in listusers %}
					   {% if user.getEmail != app.user.email %}
							"{{ user.email }}"
							{% if key != totalUser %},{% endif %}
						{% endif %}
					{% endfor %}
				]
			</div><!-- userlist -->
			
			<h3>These users already have rights</h3>
			<div id="sharedWith"></div><!-- sharedWith -->
			
			<h3>Give rights to user</h3>
			{% include 'AcsilServerAppBundle:Upload:ShareFile.html.twig' %}
		</div><!-- shareFile -->
		
		<div id="deleteFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<h2>{{ 'document.info.delete'|trans }}</h2>
			<p>
				{{ 'document.info.confirm.delete'|trans }} <span class="filename"></span>
				<a class="confirm btn btn-danger" href="">{{ 'yes'|trans }}</a>
				<a class="noconfirm btn btn-primary" href="{{ path('_managefile') }}">{{ 'no'|trans }}</a>
			</p>
		</div><!-- deleteFile -->
		
		<div class="row-fluid">
			<div class="span2">
				<ul>
					<li><a href="#addFile" data-toggle="modal"><i class="icon-plus"></i> {{ 'new.file' }} </a></li>
				</ul>
				<p>
					{{ 'filezone.description'|trans }}
				</p>
			</div><!-- span3 -->
			
			<div id="itemList" class="span9 offset1">
				{% for document in listfiles %}
					<div class="userRow row-fluid">
						<div class="fileInfos span9">
							<div class="fileName span8">
								{{ document.info.name }}
							</div><!-- fileName -->
							<div class="fileSize span2">
								{{ document.info.size }} Ko
							</div>
							<div class="fileUploadDate span2">
								{{ document.info.uploaddate|date }}
							</div><!-- file upload date -->
						</div><!-- fileInfos -->
						
						<div class="fileOptions span3">
							{% if is_granted('OWNER', document.info) %}
							<a class="sharefile btn btn-primary" href="#shareFile" filename="{{ document.info.name }}" fileid="{{ document.info.id }}" data-toggle="modal">
								<i class="icon-file icon-white"></i> {{ 'file.share'|trans }}
							</a>
							<div class="sharedWith">
								{% set totalUsers = document.sharedFileUserInfos|length %}
								{% if totalUsers > 0 %}
									[{% for key, sharedwith in document.sharedFileUserInfos %}
										{"id": "{{ sharedwith.user.id }}","email": "{{ sharedwith.user.email }}","rights": "{{ sharedwith.rights }}"} {% if totalUsers > key + 1 %},{% endif %}
									{% endfor %}]
								{% endif %}
							</div><!-- sharedWith -->
							{% endif %}
							<div class="btn-group">
								<a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> {{ 'edit'|trans }}</a>
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% if is_granted('VIEW', document.info) %}
										<li><a href="{{app.request.basepath}}/{{ document.info.getWebPath() }}" target="_blank">
											<i class="icon-download-alt"></i> {{ 'download.file'|trans }} </a>
										</li>
									{% endif %}
									{% if is_granted('DELETE', document.info) %}
										<li>
											<a class="deletefile" href="#deleteFile" filename="{{ document.info.name }}" fileid="{{ document.info.id }}" data-toggle="modal">
												<i class="icon-trash"></i> {{ 'delete.file'|trans }} 
											</a>
										</li>
									{% endif %}
								</ul>
							</div><!-- btn group -->
						</div><!-- file options -->
					</div><!-- userRow -->
				{% endfor %}
			</div><!-- itemList -->
		</div><!-- row fluid -->
		
	</div><!-- fileList -->

{% endblock %}
