<form id="renameFileForm" action=" method="post" {{ form_enctype(renameForm) }}>
    {# {{ form_widget(rename) }} #}
{# Page for files' rename #}
	
	<div class="row-fluid">
	<p>
		<div class="control-group span8">
		    {#{{ form_label(renameForm.name, renameForm.name.vars.id|replace({'_':'.'}), {'label_attr': {'class': 'control-label'}}) }}#}
		    New name
		    <div class="controls">
			    {{ form_errors(renameForm.name) }}
			    {{ form_widget(renameForm.name, {'attr': {'class': 'span12', 'autocomplete': 'off', 'data-provide': 'typeahead' }}) }}
			</div><!-- controls -->
		</div><!-- control group -->
		
	</p>
	</div><!-- row fluid -->
	
	<p>
	&nbsp &nbsp
    <input class="btn btn-primary" type="submit" value="{{ 'Rename'|trans }}" />
	<a class="noconfirm btn btn-danger" href="{{ path('_managefile', {'folderId': folderId|default(0)}) }}">{{ 'Cancel'|trans }}</a>
     </p>
</form>