{% extends "::base.html.twig" %}

{# fixme: use a global twig for common stylesheet#}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite' '@AcsilServerAppBundle/Resources/public/css/*' %}
		<link href="{{ asset('public/css/bootstrap-fileupload.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/dropzone.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style_responsive.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/style_default.css') }}" rel="stylesheet"  id="style_color" />
		<link href="{{ asset('public/css/jquery.fancybox.css') }}" rel="stylesheet" />
		<link href="{{ asset('public/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/> 
	{% endstylesheets %} 
{% endblock %}

{% block title %}Acsilserver status{% endblock %}

{% block body %}
<h1>Server status</h1>
<img src="monitoring/cpu.png"></img>
<img src="monitoring/ram.png"></img>
{% endblock %}
